---
import Navbar from "../layouts/Navbar.astro";
import Chat from "../components/Chatboot.svelte";

import { supabase } from "../lib/supabase";
import {getUserIdFromCookies} from "../lib/helper/authHelpers.ts"

const { cookies} = Astro;

const userId = await getUserIdFromCookies(cookies);  // Ahora accedemos al ID del usuario autenticado


// Obtener las conversaciones desde la base de datos de Supabase
const { data: conversations, error } = await supabase
  .from('StoreConversation')
  .select("userId, message, response, created_at")
  .eq('userId', userId) // Filtrar por el usuario autenticado
  .order("created_at", { ascending: true });

if (error) {
  throw new Error("Error al obtener las conversaciones");
}
---

<!-- Chat Boot -->

<Navbar title="Chat Boot">
  <section class="flex justify-center items-center h-screen ">
    <div class="bg-gray-900 w-full max-w-5xl shadow-lg rounded-lg py-4 pl-4 pr-1 flex flex-col h-[90vh] relative">
      
      <!-- Chat Messages -->
      <div class="flex-1 overflow-y-auto space-y-4 pr-1 mb-10">
                <Chat conversation={conversations} client:visible/>
        </div>
    </section>
</Navbar>