---
import Base from "../layouts/Home.astro";
import Astroicon from "../components/icons/AstroIcon.astro";
import SvelteIcon from "../components/icons/Svelte_Logo.astro";
import CohereIcon from "../components/icons/CohereNew.astro";


export const prerender = true;
const title = "Bienvenido a Fix my english.";
---

<Base title={title}>
  <main class="flex-1 flex flex-col gap-4 items-center p-4 justify-center">
    <h1 class="text-2xl sm:text-4xl font-bold text-center">{title}</h1>
    <h1 class="text-2xl sm:text-4xl font-bold text-center">Impulsado por</h1>
    <ul class="flex gap-6 items-center font-bold text-2xl mt-6">
      <li
        class="dark:bg-zinc-800 bg-white border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow dark:shadow-none flex items-center justify-center"
      >
    <Astroicon/>
      </li>
       &plus;
      <li
        class="dark:bg-zinc-800 bg-white border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow dark:shadow-none flex items-center justify-center"
      >
      <SvelteIcon/>
      </li>
      &plus;
      <li
        class="dark:bg-zinc-800 bg-white border-t dark:border-zinc-700 h-20 w-20 border-transparent rounded-lg shadow dark:shadow-none flex items-center justify-center"
      >
       <CohereIcon/>
      </li>
    </ul>
    <p class="mt-6 max-w-prose">Esta página fue renderizada previamente en el momento de la compilación.</p>
    <!-- <a
      href="https://github.com/kevinzunigacuellar/astro-supabase"
      class="font-mono max-w-prose underline underline-offset-2 hover:text-blue-700 text-blue-600 dark:text-blue-500 dark:hover:text-blue-400"
      >Source code on GitHub</a
    > -->
    <a target="_blank"
      href="https://github.com/Cas74l4n/Astro_Supabase_Svelte"
      class="font-mono max-w-prose underline underline-offset-2 hover:text-blue-700 text-blue-600 dark:text-blue-500 dark:hover:text-blue-400"
      >Source code on GitHub</a
    >
  </main>
</Base>
